<div>

  <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

  <div *ngIf="loaded" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <mat-card>
    <h1>New Meal Delivery Program Operations Software System</h1>
    <div>
      <h3>
        Developed by UMass Boston Computer Science CS682 Team
      </h3>
      <mat-list>
        <mat-list-item>Anoopa Chandrasekharan</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Ganesh Anand Velu</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Jainam Shah</mat-list-item>
      </mat-list>
    </div>
    </mat-card>
  </div>
</div>